section{
    margin: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        button{
            border: none;
            background-color: transparent;
        }
    }
    .confirm-button{
        border: none;
        background-color: green;
    }
}