.gradient-custom {
  /* fallback for old browsers */
  background: #2f3f9f;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    #2f3f9f,
    rgba(37, 117, 252, 1)
  );
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
      #2f3f9f,
    rgba(37, 117, 252, 1)
  );
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h3{
    color: red;
  }
  mat-form-field{
    width: 100%;
    button{
      border: none;
      background-color: transparent;
    }
  }
  .login {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    margin-top: 1rem;
    background-color: #2f3f9f;
    font-size: 2rem;
    font-weight: 800;
    text-transform: capitalize;
    transition: 500ms;
  }
  .login:hover{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
}

